<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FileUrlsPath" value=""/>
		<add key="FileProxyPath" value=""/>
		<add key="Urls" value=""/>
		<add key="ProxyType" value="1"/>
		<add key="Timeout" value="5"/>
		<add key="Threads" value="50"/>
		<add key="BadRecheck" value="0"/>
		<add key="ProxyRetries" value="0"/>
		<add key="IsFirstTime" value="true"/>
		<add key="UseProxy" value="false"/>
	</appSettings>
</configuration>